@page "/character-sheet"
@using System.Text.Json

<p>
    <label>
        Normal Blazor binding: 
        <input @bind="_playerSheet.Text" />
    </label>
</p>

<p>
<button @onclick="@ExportToJson">Serialize</button>
<InputFile OnChange="ImportFromJson">[Import]</InputFile>
</p>

@code {
    private string? InputValue { get; set; }

    private gameSheet _playerSheet = new();

    /**
     * Exports the character sheet to a .json file, for later loading with ImportFromJson().
     */
    private async Task ExportToJson()
    {
        await BlazorDownloadFileService.DownloadFileFromText($"{_playerSheet.Name}-{DateTime.Now:MM-dd-yy_hh-mm-ss}.json", JsonSerializer.Serialize(_playerSheet, typeof(gameSheet, Options), "text/json");
    }

    /**
     * Imports a character sheet from an exported .json file created by ExportToJson().
     */
    private async Task ImportFromJson(InputFileChangeEventArgs args)
    {
        Stream stream = args.File.OpenReadStream();
        StreamReader reader = new(stream);
        try {
            _playerSheet = JsonSerializer.Deserialize<gameSheet>(await reader.ReadToEndAsync(), Options);
        }
        catch (JsonException e) {
            _importError = e.Message;
        }
    }
}
