@page "/character-sheet"
@using System.Text.Json

<p>
    <label>
        <input @bind="_playerSheet.name" />
        <input @bind="_playerSheet.pronouns" />
    </label>
</p>

<h2>Save/Load</h2>

<textarea @bind="_saveLoadJson" style="width: 100%"></textarea>
<button @onclick="ExportToJson">[Export]</button>
<button @onclick="ImportFromJson">[Import]</button>

@_importError

@code {
    // General variable creation, the charSheet stuff is in the shared folder

    private charSheet _playerSheet = new();
    private string _saveLoadJson = "";
    private string _importError = "";

    // creates the options field for the serializing

    JsonSerializerOptions options = new JsonSerializerOptions { WriteIndented = true };
    
    void ExportToJson()
    {
        _saveLoadJson = JsonSerializer.Serialize(_playerSheet, typeof(charSheet));
    }

    void ImportFromJson()
    {
        try {
            _playerSheet = JsonSerializer.Deserialize<charSheet>(_saveLoadJson, options);
        }
        catch (JsonException e) {
            _importError = e.Message;
        }
    }
}
