@page "/bind-theory"

<p>
    <label>
        Normal Blazor binding: 
        <input @bind="InputValue" />
    </label>
</p>

<p>
    <button @onclick="@SerializeDeserializeMethod">Serialize & Deserialize</button>
</p>

<p>
    <code>Input Value</code>: @InputValue
</p>

<p>
    <code>Serialized String</code>: @serializedString
</p>
@code {
    private string? InputValue { get; set; }

    void SerializeDeserializeMethod()
    {
        //for serialization
        string serializedString = System.Text.Json.JsonSerializer.Serialize(InputValue);
        //for deserialization
        //User userCopy = System.Text.Json.JsonSerializer.Deserialize<User>(serializedString);
    }
}