@page "/character-sheet"
@using System.Text.Json

<p>
    <label>
        <input @bind="_playerSheet.name" />
        <input @bind="_playerSheet.pronouns" />
    </label>
</p>

<h2>Save/Load</h2>

<textarea @bind="_saveLoadJson" style="width: 100%"></textarea>
<button @onclick="ExportToJson">[Export]</button>
<button @onclick="ImportFromJson">[Import]</button>

}

@code {
    private charSheet _playerSheet = new();
    private string _saveLoadJson = "";
    void ExportToJson()
    {
        _saveLoadJson = JsonSerializer.Serialize(_playerSheet, typeof(charSheet), Options);
    }

    void ImportFromJson()
    {
        try {
            _playerSheet = JsonSerializer.Deserialize<charSheet>(_saveLoadJson, Options);
        }
        catch (JsonException e) {
            _importError = e.Message;
        }
    }
}
