@page "/AttemptForTextboxes"

<div class="column-left">
    <label>
        Main Colour
        <input type="color" @bind="_mainColour"/>
    </label>
    <br/>
    <label>
        Accents
        <input type="color" @bind="_accentColour"/>
    </label>
    <br/>
    <label>
        Scarf 1
        <input type="color" @bind="_scarfColour1"/>
    </label>
    <br/>
    <label>
        Scarf 2
        <input type="color" @bind="_scarfColour2"/>
    </label>
    <br/>
    <label>
        Shirt
        <input type="color" @bind="_shirtColour"/>
    </label>
    <br/>
    <button @onclick="YouWouldNotDownloadAnAftik">Download SVG</button>
</div>