@page "/bind-theory"
@using System.Text.Json

<p>
    <label>
        Normal Blazor binding: 
        <input @bind="InputValue" />
    </label>
</p>

<p>
    <button @onclick="@SerializeDeserializeMethod">Serialize & Deserialize</button>
</p>

<p>
    <code>Input Value</code>: @InputValue
</p>

<button @onclick="@SerializeDeserializeMethod">Serialize & Deserialize</button>

@code {
    private string? InputValue { get; set; }

    public class User
    {
        public int ID { get; set; }
        public string Name { get; set; }
        public string Address { get; set; }
    }

    User user = new User() {ID = 1, Name = "Mark", Address = "Code Jail"};

    void SerializeDeserializeMethod()
    {
        //for serialization
        string serializedString = System.Text.Json.JsonSerializer.Serialize(User1);
        //for deserialization
        User userCopy = System.Text.Json.JsonSerializer.Deserialize<User>(serializedString);
    }
}